body {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
body, html{
    height: 100%;
}
/* .logos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 30vh;
    overflow-y: auto;
} */
.logos-image {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    
}
/* .details-image{
    width: 500px;
   } */
   .main-content{
       margin: 0 auto;
   }


